<footer class="footer mt-auto">
  <div class="inner text-center">
    <p>Trails-diary <%= link_to 'Github','https://github.com/diogobest', target: '_blank' %> by<%= link_to '@dih_oliveirasp','https://twitter.com/dih_oliveirasp', target: '_blank'%></p>
  </div>
</footer>
</div>
