<footer class="footer mt-auto">
  <div class="inner text-center">
    <p>Trails-diary <a href="https://github.com/diogobest">GitHub</a>, by <a href=https://twitter.com/dih_oliveirasp"">@dih_oliveirasp</a>.</p>
  </div>
</footer>
</div>
