<footer class="mt-auto">
  <div class="inner text-center">
    <p>Trails-diary <a href="https://github.com/diogobest">GitHub</a>, by <a href="https://twitter.com/diogo47343953">@diogo47343953</a>.</p>
  </div>
</footer>
</div>
