<div class="cover-container d-flex p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading text-center">Trails-Diary</h1>
    <p class="lead text-center"> Share all the beautiful places you visited and
    encourage others to know all the benefits of travelling and exploring the world. </p>
    <p class="lead">
    </p>
  </main>
</div>
