<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><%= t('.search') %></button>
  </form>
</nav>
<div class="container">
  <div class="wrap">
    <% @posts.each do |post| %> 
      <div class="box one">
        <h1> <%= post.title %></h1>
        <h5> <%=  post.text%></h5>
        <h5>Autor: <%=  post.author %></h5>
        <div class="poster p1">
          <h4>BR</h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
