<main role="main" class="inner cover">
  <h1 class="cover-heading text-center">Trails-Diary</h1>
  <p class="lead text-center"> Share all the beautiful places you visited and
  encourage the world all the benefits of travelling. </p>
  <p class="lead">
  </p>
</main>
