  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="card mb-4">
        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><<%=  post.text%>/p>
          <strong class="card-text"><small>Autor: </small> </strong>
          <strong class="card-text"><%=  post.author %></strong>
          <small class="text-muted">Publicado dia: 01/01/01</small>
      </div>
      <% end %>
  </div>
</div>

