<!--<% @posts.each do |post| %> <!-- TODO change this view to vuejs -->
  <stong><%= t('.title') %>: <%= post.title %><br/></stong>
  <%= t('.author') %>: <%=  post.author %><br/>
<% end %>




<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>
</div>
