<div id='map'></div>
<script>
  mapboxgl.accessToken ="<%=ENV.fetch('MAPBOX_KEY') %>";
  let map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11', // replace this with your style URL
  center: [-87.661557, 41.893748],
  zoom: 9
});
</script>
</div>
